#Wordpress

/upgrade
/upgrade-temp-backup
/uploads
/uploads-webpc
/wphb-cache
/wphb-logs
/ai1wm-backups
/litespeed
/wpvivid_staging
/wpvivid_uploads
/wpvividbackups
/cache
debug.log
db.php
wf-licensing.log
/ewww

#Theme

/themes/mccloud/node_modules
