#Wordpress

/upgrade
/upgrade-temp-backup
/uploads
/uploads-webpc
/wphb-cache
/wphb-logs
/ai1wm-backups
/litespeed
/wpvivid_staging
/wpvivid_uploads
/wpvividbackups
/cache

#Theme

/themes/mccloud/node_modules
